.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/imagenes/

/files_uploads/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
*.bak
/.htaccess
/application/config/database.php
/.idea

*.GDEFdata.php
*.GPOSdatadata.php
*.GPOSdata.php
*.GSUBGPOStables.dat
*.GSUBdata.php
*.cw.dat
*.cw127.php
*.gid.dat
*.mtx.php
*.cgm
*.cw
*.z
*.lock