* {
    font-family: Arial;
}

label {
    font-weight: bold;
}

table {
    border: 0px solid white;
    border-collapse: collapse;
}

table.bordes, table.bordes td, table.bordes th {
    border: 1px solid #000;
    border-collapse: collapse;
}

table.w100 {
    width: 100%;
}

td.w1 {
    width: 1%;
}

td.w2 {
    width: 2%;
}

td.w3 {
    width: 3%;
}

td.w5 {
    width: 5%;
}

td.w7 {
    width: 7%;
}

td.w10 {
    width: 10%;
}

td.w13 {
    width: 13%;
}

td.w15 {
    width: 15%;
}

td.w20 {
    width: 20%;
}

td.w26 {
    width: 26.66%;
}

td.w33 {
    width: 33.33%;
}

td.w30 {
    width: 30%;
}

td.w40 {
    width: 40%;
}

td.w45 {
    width: 45%;
}

td.w50 {
    width: 50%;
}

td.w55 {
    width: 55%;
}

td.w58 {
    width: 58%;
}

td.w75 {
    width: 75%;
}

table.w90 {
    width: 60%;
}

td.relleno {
    background: gainsboro;
    color: black;
}

/***
estilos para el pdf datos_examen
**/
td.td1 {
    width: 5%;
    text-align: center;
}

td.td2 {
    width: 10%;
}

td.td3 {
    width: 10%;
}

td.td4 {
    border: none;
    text-align: center;
}

td.largo {
    height: 80px;
}

td.largo1 {
    height: 105px;
    background-color: gainsboro;
}

td.titulo1 {
    background-color: gainsboro;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

td.titulo2 {
    background-color: gainsboro;
    font-weight: bold;
    font-size: 12px;
}

td.negrita {
    text-align: center;
    font-weight: bold;
}

td.cent {
    text-align: center;
}

.titulo_tabla_carta_descriptiva {
    text-align: center;
    background-color: black;
    font-size: 14px;
    color: white;
    font-family: "Arial Narrow";
    font-weight: bold;
}

.fondo_celda {
    background-color: lightgray;
}

.salto_linea {
    padding: 3px;
}

.salto_linea_espacio {
    padding: 30px;
}

.salto_linea_espacio_1 {
    padding: 1px;
}

.salto_linea_espacio_3 {
    padding: 3px;
}

.salto_linea_espacio_5 {
    padding: 5px;
}

.salto_linea_espacio_7 {
    padding: 7px;
}


.salto_linea_espacio_10 {
    padding: 10px;
}

.salto_linea_espacio_13 {
    padding: 13px;
}

.salto_linea_espacio_15 {
    padding: 15px;
}

.salto_linea_espacio_20 {
    padding: 20px;
}

.salto_linea_espacio_40 {
    padding: 40px;
}

.salto_linea_espacio_50 {
    padding: 50px;
}

.salto_linea_espacio_100 {
    padding: 100px;
}

.contenido_celda {
    margin: 5px;
    padding: 5px;
    /*height: 23px;*/
    font-size: 11px;
    font-family: "Arial Narrow";
}

.border_laterales {
    border-top-color: white;
    border-bottom-color: white;
}

.border_no_superior {
    border-top-color: white;
}

.border_no_inferior {
    border-bottom-color: white;
}

.border_no_izquierdo {
    border-left-color: white;
}

.border_no_derecho {
    border-right-color: white;
}

.superindice {
    vertical-align: super;
    font-size: 7px;
}

.superindice_normal {
    vertical-align: super;
    font-size: 11px;
}

.subindice {
    vertical-align: sub;
    padding: 10px;
}

.centrado {
    text-align: center;
}

.izquierda {
    text-align: left;
}

.derecha {
    text-align: right;
}

.justificado {
    text-align: justify;
}

.border_ninguno {
    border-top-color: #b7cebd;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
}

.border_inferior {
    border-bottom: 0.5px solid black;

}

.contenido_instrucciones {
    width: 90%;
    font-size: 9px;
    font-family: "Arial Narrow";
}

.negrita {
    font-weight: lighter;
    font-size: 14px;
}

.pie_pagina {
    font-size: 10px;
    text-align: justify;
}


/*FUENTES PARA LOS PDF*/

.nombre_alumno {
    font-family: nueva_fuente_zillmo;
}

.nombre_curso {
    font-family: nueva_fuente_zillmo;
}

.contenido_const {
    font-family: nueva_fuente_bau;
}

.folio {
    font-family: nueva_fuente_modern;
    font-size: 6px;
    list-style: none;
}

.contenido_const_cigede {
    font-family: "Arial";
}

.salto_pagina {
    page-break-after: always;
}

.texto_blanco {
    color: white;
}

.negrita {
    font-weight: bold;
}

.requerido {
    color: red;
}

.correcta {
    color: white;
    border-radius: 10%;
    background-color: green;
}

.incorrecta {
    color: white;
    border-radius: 100px;
    background-color: red;
}