table{
	
	font-size: 12px;
	font-family: "Arial Narrow";
	border: 0px solid white;
	border-collapse: collapse;

}
table.wi100{ width: 100% }
.boder_no_superior{
	border-top-color: white;
}
.pie_pagina{
    width: 95%;
    text-align: right;
    font-size: 10px;
    font-family: "Arial Narrow";
}

.border_no_inferior{
	border-bottom-color: white;
}
.border_laterales{
	border-top-color: white;
	border-bottom-color: white;
}
.border_no_derecho{
	border-right-color: white;
}

.border_no_izquierdo{
	border-left-color: white;
}
.border_izquierdo{
	border-left-color: black;
}

table.td{
	border: none;
}
.letrangr{
	font-weight: bold;

}
.texto1{
	font-size: 10px;
}
td.centrar{ text-align: center; }
td.datosper{font-size:15px}
td.domicilio{font-size:15px; 
	font-weight:bold;}
	td.wi50{width: 50% }
	td.wi5{width: 5%}
	td.wi8{width: 8%}
	td.wi15{width: 15%}
	td.wi10{width: 10%}
	td.wi17{width: 17%}
	td.wi20{width: 20% }
	td.wi30{width: 30% }
	td.hi{height: 10%}


	.salto_linea{
		padding: 4px;
	}
.salto_linea10{
		padding: 10px;
	}
