
.nombre_alumno{
    font-family: nueva_fuente_zillmo;
}

.nombre_curso{
    font-family: nueva_fuente_zillmo;
}
.contenido_const{
    font-family: nueva_fuente_bau;
}
.folio{
    font-family: nueva_fuente_modern;
    font-size: 9px;
}

.contenido_const_cigede{
    font-family: "Arial";
}

