body {
    background-image: url('../imagenes/fondos_pdf/formas_pago.png');
    width: auto;
font-size: 13px;
	font-family: "Arial Narrow";
	
}
table.tw{
	width="100%"
}
td.tw50{width="80%"}
.negrita{font-weight: bold;}
.salto_linea30{padding:30px}
.salto_linea15{padding:15px}


